<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[#B9D3EE]" style="font-family: 'Abhaya Libre', serif">
    <div class="flex flex-col justify-center mt-10 h-screen">
      <div class="flex justify-center">
        <img src="../static/img/logo itaipu.png" class="w-[117px] h-[104px]" />
      </div>
      <div class="flex justify-center"><h1 class="text-6xl">Saraki</h1></div>
      <div class="flex flex-col justify-center h-full">
        <iframe
          id="visor"
          class="h-3/4"
          src="https://studio.onirix.com/projects/f0b3cf4f978149a48de3af7caa5dbe53/webar?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjEzMjUwLCJwcm9qZWN0SWQiOjMzNzQ0LCJyb2xlIjozLCJpYXQiOjE2NjY1NDc3Mjl9.Xci2xfuLgBaV_ZjFvpCfiW_hoUllxm7s5k9AMyEoELs"
          allow="camera;gyroscope;accelerometer;magnetometer;fullscreen;xr-spatial-tracking;"
        >
        </iframe>
        <div class="flex justify-center">
          <h2 class="text-xl">Encuentra las preguntas secretas</h2>
        </div>
      </div>
    </div>
    <script src="https://www.onirix.com/webar/ox-devicemotion.min.js"></script>
  </body>
</html>
