<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#B9D3EE]">
    <div class="flex justify-center mt-52">
      <img
        src="../static/img/logo itaipu.png"
        class="w-[117px] h-[104px] mt-42"
      />
      <div>
        <script src="https://www.onirix.com/webar/ox-devicemotion.min.js"></script>
        <iframe
          id="visor"
          style="
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            display: block;
            border: none;
          "
          src="https://studio.onirix.com/projects/f0b3cf4f978149a48de3af7caa5dbe53/webar?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjEzMjUwLCJwcm9qZWN0SWQiOjMzNzQ0LCJyb2xlIjozLCJpYXQiOjE2NjY1NDc3Mjl9.Xci2xfuLgBaV_ZjFvpCfiW_hoUllxm7s5k9AMyEoELs"
          allow="camera;gyroscope;accelerometer;magnetometer;fullscreen;xr-spatial-tracking;"
        >
        </iframe>
      </div>
    </div>
  </body>
</html>
