<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juego</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[#B9D3EE]" style="font-family: 'Abhaya Libre', serif">
    <div>
      <h1 class="flex justify-center mt-24 text-2xl">
        Museo de Tierra Guarani
      </h1>
    </div>

    <div class="flex justify-center">
      <img src="/static/img/museo.png" class="w-[404px] h-[264px] mt-36" />
    </div>
    <div class="flex justify-center mt-24">
      <button
        id="begingame"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
      >
        Inicia el juego
      </button>
    </div>
    <script>
      let begin_game = document.getElementById("begingame");

      begin_game.addEventListener("click", () => {
        window.location.href = `http://127.0.0.1:5000/quiz1`;
      });
    </script>
  </body>
</html>
